asgiref
cffi
click
Django
feedparser
Flask
Flask-Cors
Flask-PyMongo
gevent
greenlet
gunicorn
itsdangerous
Jinja2
MarkupSafe
msgpack
pycparser
python-dateutil
pytz
redis
sgmllib3k
six
sqlparse
Werkzeug
zope.event
zope.interface
aiohttp