#recent {
  list-style-type: none;
  margin: 0;
}
#recent li {
  margin-bottom: 4px;
}
.banner-button {
  margin: 25px 0;
}
.banner-option {
  color: #999999;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  font-size: 14px;
}
a {
  color: #1b70e0;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
hr {
  border-bottom: none;
  border-top: 1px solid #f9f9f9;
}
.accent-green {
  color: #2ecc71;
}
.accent-red {
  color: #e74c3c;
}
.accent-bg-green {
  background: #2ecc71;
  padding: 4px 8px;
}
.accent-bg-red {
  background: #e74c3c;
  padding: 4px 12px;
  color: #ffffff;
}
.runscope-wrap {
  padding: 4px 20px;
  background: #f9f9f9;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #ffffff;
}
.tagline {
  display: inline;
  float: right;
  color: #999999;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin: 6px 0;
}
header {
  overflow: auto;
}
.header-wrap {
  background: #ffffff;
  color: #061427;
  padding: 0px 20px 0px;
  border-bottom: 1px solid #f9f9f9;
}
.logo {
  display: inline;
  font-size: 28px;
  font-weight: normal;
  float: left;
}
.logo img {
  margin-right: 10px;
  margin-top: -4px;
}
.logo-accent {
  font-weight: bold;
}
.logo,
.logo a {
  color: #999999;
}
.logo a:hover {
  color: #1b70e0;
}
.nav-menu {
  list-style: none;
  color: #999999;
  font-size: 16px;
  margin-top: 20px;
  float: right;
}
.nav-menu li {
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
}
.nav-menu input {
  vertical-align: bottom;
  margin: 0;
}
.nav-menu:last-child li {
  margin-right: 0px;
}
.nav-link,
.nav-link a {
  color: #999999;
}
.nav-link a:hover {
  color: #1b70e0;
}
.banner-wrap {
  color: #061427;
  padding: 60px 0 0;
}
.banner-hero {
  text-align: center;
  padding-bottom: 40px;
}
.banner-header {
  font-size: 48px;
  line-height: 54px;
  margin-top: 48px;
}
.banner-header span {
  line-height: 64px;
}
.banner-subheader {
  font-size: 18px;
  margin: 60px auto 60px;
  line-height: 22px;
  font-weight: normal;
}
.banner-tut-header,
.banner-tut-step {
  text-align: center;
}
.banner-tut-header {
  padding: 0 0 10px 0;
  font-size: 24px;
  line-height: 28px;
}
.banner-tut-step img {
  padding: 10px 0;
}
.banner-tut-step p {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}
/*.banner-tut-step-bonus {
    opacity: .4;
}

.banner-tut-step-bonus:hover {
    opacity: 1;
}*/
.section-header {
  color: #061427;
  font-size: 24px;
  padding: 0 0 4px;
}
.section-link {
  float: right;
  padding-top: 15px;
}
.section-featured {
  margin-bottom: 0;
  padding-bottom: 0;
}
.section-header-hr {
  margin-top: 0;
}
.content-wrap {
  color: #061427;
  background: #ffffff;
  padding: 20px 20px 80px 20px;
}
.footer-wrap {
  background: #007b5e;
  color: #ffffff;
  font-size: 14px;
}
.footer-slogan,
.footer-menu,
.copyright {
  text-align: center;
  font-weight: normal;
}
.footer-logo {
  text-align: center;
  padding-bottom: 20px;
}
.footer-slogan {
  font-size: 24px;
  line-height: 36px;
}
.footer-slogan i {
  line-height: 12px;
}
.footer-hero {
  text-align: center;
  padding-top: 40px;
}
.footer-hero img {
  max-width: 680px;
}
.footer-menu {
  list-style: none;
  padding: 40px 0 0;
  margin: 0 auto !important;
  font-size: 16px;
}
.footer-menu li {
  padding: 4px 0;
}
.copyright {
  display: block;
  clear: both;
  padding-top: 30px;
  padding-bottom: 30px;
}
.services-link {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.new-note {
  font-size: 11.9px;
  font-weight: normal;
  text-align: center;
  color: #555555;
}
/* API BADGE */
/* API BADGE LAYOUT */
.api-badge {
  margin-bottom: 15px;
  color: #061427;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  background: #ffffff;
}
.badge-header {
  padding: 12px 20px 12px;
  background: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.badge-title {
  font: 18px;
}
.badge-title a {
  color: #061427;
}
.badge-body {
  padding: 0px 20px 10px;
}
.badge-description {
  padding-top: 6px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #999999;
}
.badge-stats-list {
  list-style: none;
  margin: 0;
}
.badge-stats-list li {
  padding: 2px 0;
  font-size: 16px;
  font-weight: bold;
  color: #061427;
}
.badge-footer {
  padding: 0px 20px 8px;
  overflow: auto;
}
.badge-footer p {
  font-size: 14px;
}
.badge-links {
  margin: 0;
  padding: 0px 20px 12px;
  overflow: auto;
}
.badge-links ul {
  list-style: none;
  margin: 0;
}
.api-badge img {
  margin: 0 10px 5px 0;
}
.badge-title {
  font-size: 18px;
}
.badge-header p.pull-right {
  margin-bottom: 0;
}
.badge-title {
  display: inline;
  position: relative;
  top: 8px;
}
.badge-button {
  float: right;
  margin-top: 2px;
  margin-bottom: 0;
}
/* DETAIL PAGE */
.api-detail {
  padding-bottom: 120px;
}
.key {
  list-style: none;
  margin-left: 0;
  font-weight: bold;
  padding: 20px 0 0;
}
.key li {
  font-weight: normal;
  display: inline;
  margin-right: 10px;
  color: #999999;
}
.detail-info h2 {
  font-size: 24px;
  line-height: 28px;
}
.detail-info h3 {
  font-size: 16px;
  line-height: 18px;
  color: #999999;
  font-weight: normal;
  padding-bottom: 10px;
}
.detail-stats {
  font-weight: bold;
}
.detail-stats,
.detail-links {
  padding-top: 40px;
}
.detail-links {
  padding-bottom: 20px;
}
/* REQUEST FORM */
.ss-form-question {
  margin-bottom: 20px;
}
.ss-q-item-label,
.ss-choice-label {
  font-size: 16px;
}
.ss-choice-label {
  margin-left: 4px;
  position: relative;
  top: 4px;
}
/* BUTTONS BUTTONS BUTTONS */
/* BASE BTN */
.btn {
  font-weight: bold;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background: #f9f9f9;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.btn:hover {
  background-color: #fff;
  background-position: 0 0;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:active {
  background-color: #efefef;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.1);
}
/* BTN-PRIMARY */
.btn-primary {
  background-color: #1b70e0;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px #1659b3, 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(255, 255, 255, 0.1);
}
.btn-primary:hover {
  background-color: #3682e7;
}
.btn-primary:active {
  background-color: #1b70e0;
}
/* BTN-DEFAULT */
/* BTN-SUCCESS */
.btn-success {
  background-color: #2ecc71;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px #25a25a, 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.2);
}
.btn-success:hover {
  background-color: #47d583;
}
.btn-success:active {
  background-color: #2ecc71;
}
/* BTN-WARNING */
.btn-warning {
  background-color: #f89406;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px #c67605, 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.2);
}
.btn-warning:hover {
  background-color: #faa937;
}
.btn-warning:active {
  background-color: #f99b16;
}
/* BTN-DANGER */
.btn-danger {
  background-color: #c0392b;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px #a43125, 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.2);
}
.btn-danger:hover {
  background-color: #ce3d2e;
}
.btn-danger:active {
  background-color: #c0392b;
}
/* BTN-LARGE */
@media (max-width: 767px) {
  .banner-header {
    font-size: 36px;
    line-height: 40px;
  }
  .logo {
    clear: both;
    display: block;
  }
  .nav-menu {
    clear: both;
    float: left;
    margin: 10px auto 20px;
    text-align: left;
  }
  .nav-menu li {
    display: block;
    padding: 8px 0px;
    margin-left: 0;
  }
  .nav-menu li:first-child {
    padding-top: 0;
  }
  .nav-link a {
    color: #1b70e0;
  }
  .ico-arrow {
    display: none;
  }
  .banner-wrap {
    padding: 60px 0 60px;
  }
  .tagline {
    float: left;
    font-size: 12px;
  }
  .footer-hero {
    display: none;
  }
  .key {
    border-top: none;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 40px;
    margin-bottom: 0;
  }
  .key li {
    display: block;
    padding: 4px 0 0 0;
    margin: 0 !important;
  }
  .section-link .icon-th {
    display: none;
  }
}
.message-wrapper {
  border: 1px solid #eeeeee;
  border-radius: 2px;
  margin-bottom: 20px;
}
.message-wrapper.current {
  border: 2px dotted #a0c4f4;
}
.message-wrapper .success-message i.icon-ok,
.message-wrapper .new-result i {
  color: #46a546;
}
.message-wrapper .retry-status .error-message i {
  color: #9d261d;
}
.message-wrapper .retry-status .cancel-message i {
  color: #ffc40d;
}
.message-wrapper .retry-status .timeout-message i {
  color: #f89406;
}
.message-detail {
  padding: 10px;
}
.message-output .message-detail {
  padding: 0;
}
.message-detail h5,
.message-output h5 {
  color: #999999;
}
.message-list.new {
  background-color: #fffcf9;
  border-bottom-color: #fee9cc;
}
.message-list {
  background-color: #eeeeee;
  padding: 10px;
}
.message-list .method {
  font-weight: bold;
}
.message-list .content i {
  color: #555555;
}
.message-list .times .icon-time,
.message-list .sizes .icon-cloud-download,
.message-list .sizes .icon-cloud-upload {
  color: #999999;
}
.message-list .tools {
  width: 100px;
  text-align: right;
}
.message-list .querystring {
  color: #999999;
}
.message-list .ok,
.message-output .ok,
.message-list .times .icon-time.ok,
.icon-circle.ok {
  color: #46a546;
}
.message-list .warning,
.message-output .warning,
.message-list .times .icon-time.warning,
.icon-circle.warning {
  color: #f89406;
}
.message-list .info,
.message-output .info,
.message-list .times .icon-time.info,
.icon-circle.info {
  color: #049cdb;
}
.message-list .error,
.message-output .error,
.message-list .times .icon-time.error,
.icon-circle.error,
.icon-warning-sign.error {
  color: #9d261d;
}
.message-list tr.detail {
  display: none;
}
.message-list .padder {
  width: 8px;
}
.message-detail .body,
.message-output .body {
  overflow: auto;
  padding: 0 0 10px 0;
  border: none;
  background-color: transparent;
  word-break: normal;
  word-wrap: auto;
  white-space: pre;
  max-height: 600px;
}
.request-detail .keypair,
.response-detail .keypair {
  margin: 0;
  word-wrap: break-word;
  white-space: normal;
}
input.xxlarge {
  font-size: 42px;
  height: auto;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }

