<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">RequestBin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/bins">Your Bins</a>
        <a class="nav-item nav-link" href="/uip">Your IP</a>
        <a class="nav-item nav-link" href="/blog">Blog</a>
        <a class="nav-item nav-link" href="/about">About</a>
      </div>
    </div>
  </nav>