{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python: Flask",
            "type": "python",
            "request": "launch",
            "program": "${workspaceFolder}/web.py",
            "env": {
                "MONGODB_URI": "mongodb://xx:xx@1xx:21x1/x?retryWrites=true"
              }
        }
    ]
}