{% extends "layout.html" %}
{% block title %}DNSBin{% endblock %}

{% block binurl %}
  <li class="divider-vertical"></li>
  <li><a href="/"><i class="icon-globe"></i> HTTPBin</a></li>
  <li class="divider-vertical"></li>
  <li class="active"><a href="/dns"><i class="icon-leaf"></i> DNSBin</a></li>
{% endblock %}

{% block head %}
    <script src="/static/js/config.js"></script>
    <script type="text/javascript">
        function createSocket() {
            document.getElementById("showBin").style.visibility = 'visible';
            document.getElementById("showBin").style.display = 'block';
            document.getElementById("showHomeDnsBin").style.visibility = 'hidden';
            var homeele = document.getElementById("showHomeDnsBin");
            homeele.parentElement.removeChild(homeele);
            var socketConnection = new WebSocket(websocketUrl);
            var restoreInProgress = false;
            var tempToken;

            function showInformation(dt) {
                document.getElementById("divshowtoken").innerHTML = 
                    '<pre id="token" class="prettyprint">Subdomain to use : *.' + dt.data + prefixes["standard"] + targetDomain + "</pre>" +  "<h4>Simple checking example</h4><pre>nslookup mydatahere." + dt.data + prefixes["standard"] + targetDomain + "</pre>";
                window.location = "#master=" + dt.master;
            }

            function addReceivedMessage(dt) {
                var homeele = document.getElementById("showexample");
                if (homeele) {
                    homeele.parentElement.removeChild(homeele);                    
                }

                var inVal = document.createElement("div");
                var datacontent = JSON.parse(dt.data);
                var timeobj = new Date(datacontent.time);
                inVal.className = "message-wrapper";
                inVal.innerHTML = '<div class="message-list"><div class="row-fluid"><b>TIME: </b>' + timeobj.toLocaleString() + '</br><b>FROM: </b>' + datacontent.ip + '</div></div>';
                inVal.innerHTML += '<div class="message-detail"><h5>DATA</h5>' + datacontent.content + '</div>';
                document.getElementById("requests").appendChild(inVal);
            }

            function getMasterFromLocation() {
                var data = unescape(window.location.hash.substr(1));
                var parts = data.split("=");

                if (parts[0] == "master") {
                    return parts[1];               
                }
            }

            socketConnection.onmessage = function (data) {
                var dt = JSON.parse(data.data);
                
                if (dt.type == "token") {
                    if (!restoreInProgress) {
                        showInformation(dt);
                    } else {
                        tempToken = dt;
                    }
                }

                if (dt.type == "restore") {
                    restoreInProgress = false;

                    if (dt.err) {
                        if (tempToken) {
                            showInformation(tempToken);
                        }
                    } else {
                        showInformation({ 
                            "data"   : dt["subdomain"], 
                            "master" : getMasterFromLocation()
                        });

                        for (var i=0; i<dt.data.length; i++) {
                            addReceivedMessage(dt.data[i]);
                        }
                    }
                }

                if (dt.type == "request") {
                    addReceivedMessage(dt);
                }
            };

            socketConnection.onclose = function () {
                var inVal = document.createElement("div");
                inVal.innerText = "WebSocket connection closed. Refresh the page to restart.";
                inVal.className = "list-group-item alert alert-danger";
                document.getElementById("requests").appendChild(inVal);
            };

            socketConnection.onopen = function () {
                // If we have a master token, this means the page was refreshed.
                // We will try to get the data from that session.
                var master = getMasterFromLocation();

                if (master) {
                    restoreInProgress = true;
                    socketConnection.send(JSON.stringify({
                        "restore" : true, 
                        "master" : master
                    }));

                    document.getElementById("token").innerHTML = "Attempting to restore from master token ...";
                    document.getElementById("token").className = "alert alert-warning";
                }
            };
        }

        window.onload = function() {
            var durl = unescape(window.location.hash.substr(1));
            var parts = durl.split("=");

            if (parts[0] == "master") {
                createSocket();
            } else {
                document.getElementById("showBin").style.visibility = 'hidden';
                document.getElementById("showHomeDnsBin").style.visibility = 'visible';
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div id="showHomeDnsBin" class="row-fluid" style="visibility: hidden;">
        <div class="banner-hero">
            <h2 class="banner-header"><span class="accent-bg-red">Inspect DNS Requests</span></h2>
            <h3 class="banner-subheader">
              DNSBin gives you a subdomain that will collect requests made to it via dns protocol and let you inspect them in a human-friendly way.<br>
              DNSBin also is an useful tool for sending data via DNS protocol.</h3>

            <form class="form-inline">
              <p class="banner-button">
                <a class="btn btn-success btn-large" onclick="createSocket()"><i class="icon-plus-sign"></i> Create a DNSBin</a>
              </p>
            </form>
        </div>
    </div>

    <div id="showBin" style="visibility: hidden; display: none;">
        <h3>DNS Bin</h3>

        <div id="divshowtoken">
        <pre id="token" class="prettyprint">Getting subdomain. Please wait ...</pre>
        </div>
        <div id="showexample">
        <h4>Example sending data</h4>
        Download DNSBin client at <a href="/static/files/dnsbinclient.py">dnsbinclient.py</a>
        <h5>Sending text</h5>
        <pre class="prettyprint">+ Outside machine:
echo test12345 | python dnsbinclient.py -f- -d out -t-
+ Inside machine:
python dnsbinclient.py -f- -d in -t TOKEN_THE_FIRST_COMMAND_GAVE_YOU
        </pre>
        <h5>Sending file</h5>
        <pre class="prettyprint">+ Outside machine:
python dnsbinclient.py -f secretdata.zip -d in -t-
+ Inside machine:
python dnsbinclient.py -f secretdata.zip -d in -t TOKEN_THE_FIRST_COMMAND_GAVE_YOU
        </pre>

        <h4>Example receiving data</h4>
        <h5>Receiving text</h5>
        <pre class="prettyprint">+ Outside machine:
python dnsbinclient.py -f- -d in -t-
+ Inside machine:
echo test12345 | python dnsbinclient.py -f- -d out -t TOKEN_THE_FIRST_COMMAND_GAVE_YOU
        </pre>
        <h5>Receiving file</h5>
        <pre class="prettyprint">+ Outside machine:
python dnsbinclient.py -f secretdata.zip -d in -t-
+ Inside machine:
python dnsbinclient.py -f secretdata.zip -d out -t TOKEN_THE_FIRST_COMMAND_GAVE_YOU
        </pre>
        </div>
        <h3>Received data</h3>
        <div id="requests" class="list-group"></div>
    </div>
{% endblock %}

