{% extends "layout.html" %}
{% block head %}
    <script type="text/javascript">
      function createBin() {
        $.ajax({'url': '/api/v1/bins', 'type': 'POST', 
          'data': {'private': $('#private').prop("checked")},
          'success': function(data) {
            window.location.href = "/"+data['name']+"?inspect";
          }
        });
      }
    </script>
{% endblock %}
{% block binurl %}
  <li class="divider-vertical"></li>
  <li class="active"><a href="/"><i class="icon-globe"></i> HTTPBin</a></li>
  <li class="divider-vertical"></li>
  <li><a href="/dns"><i class="icon-leaf"></i> DNSBin</a></li>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="banner-hero">
            <h2 class="banner-header"><span class="accent-bg-red">Inspect HTTP Requests</span></h2>
            <h3 class="banner-subheader">
              RequestBin gives you a URL that will collect requests made to it and let you inspect them in a human-friendly way.<br>
              Use RequestBin to see what your HTTP client is sending or to inspect and debug webhook requests.</h3>

            <form class="form-inline">
              <p class="banner-button">
                <a class="btn btn-success btn-large" onclick="createBin()"><i class="icon-plus-sign"></i> Create a RequestBin</a>
              </p>
              
              <p class="banner-option">
                <label class="checkbox" title="Private bins can only be viewed by you using a browser cookie">
                  <input id="private" type="checkbox" /> &nbsp;Private <small>(only viewable from this browser)</small>
                </label>
              </p>
            </form>
        </div>
    </div>
{% endblock %}
