<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="-jXbrK6GnmOb0DR3gJbqe97ZV3R1ujOf4H2jZoQNiOw" />
    <title>{% block title %}RequestBin &mdash; Collect, inspect and debug HTTP requests and webhooks{% endblock %}</title>
    {% block icon %}<link href="/static/img/logo.png" rel="shortcut icon" />{% endblock %}
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/responsive.css" rel="stylesheet" media="screen">
    <link href="/static/css/styles.css" rel="stylesheet" media="screen">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.4.1.0.css" rel="stylesheet">
    <link type="text/css" href="/static/css/prettify.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/prettify.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
<div class="navbar">
    <div class="navbar-inner">
    <div class="container-fluid">
              <h2 class="logo" style="font-size: 20px;">
                <a href="/"><img src="/static/img/logo-2x.png" height="38" width="44" /></a>
                <a href="/"><span class="logo-accent">RequestBin</span>.NET</a>
              </h2>
      <div class="nav">
        <ul class="nav" style="margin-top: 10px;">
          {% block binurl %}{% endblock %}
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </div>
  <!--/.navbar-inner -->
</div>
<!--/.navbar -->

    <div id="content" class="row-fluid" style="min-height: 634px;">
      {% set width = 12 %}
      {% if recent %} {% set width = 10 %} {% endif %}
      <div class="span{{width}} content-wrap">
          {% block content %}
          {% endblock %}
      </div>

      {% if recent %}
        <div class="span2">
          {% block sidebar %}
          <h5><i class="icon-time"></i> History</h5>
          <ul id="recent">
            {% for bin in recent %}
            <li>
              <a href="/{{bin.name}}?inspect"><i class="icon-circle" style="color: rgb{{bin.color}}"></i></a>
              <a href="/{{bin.name}}?inspect">{{bin.name}}</a> {% if bin.private %}<i class="icon-lock"></i>{% endif %}
              ({{bin.request_count}})
              
            </li>
            {% else %}
            <p style="margin-left: -24px; color: gray;">
              No recent bins.
            </p>
            {% endfor %}
          </ul>
          {% endblock %}
        </div>
        {% endif %}
    </div>
    <div class="footer-wrap">
        <footer class="row-fluid">
            <div class="span12">
                  <div class="text-center center-block">
                      <br />
                        <a href="https://www.facebook.com/pg/RequestBinNet-158149044870086/"><i id="social-fb" class="fa fa-facebook-square fa-3x social" style="color: white;"></i></a>
                        <a href="https://github.com/mxcxvn/requestbin.net"><i id="social-gh" class="fa fa-github-square fa-3x social" style="color: white;"></i></a>
                        <a href="mailto:requestbin.net@gmail.com"><i id="social-em" class="fa fa-envelope fa-3x social" style="color: white;"></i></a>
                  </div>
                <p class="copyright">&copy; 2018 requestbin.net<br>Thanks <a style="color: white;" href="https://github.com/Runscope/requestbin"><u>Jeff Lindsay</u></a> and <a style="color: white;" href="https://github.com/HoLyVieR/dnsbin"><u>HoLyVieR</u></a></p>
            </div>
        </footer>
    </div>


    {% block script %}
    {% endblock %}
    
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116397275-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-116397275-1');
  </script>

  </body>
</html>
