{% extends "layouts/base.html" %}

{% block title %}RequestBin About & Contact{% endblock %} 

{% block content %}
<div class="p-4">
  <div class="bodybg rounded border-2 border-grey shadow p-5 content-page">
    <div class="card">
      <div class="card-body post-page">
        <h1>About RequestBin</h1>
        <hr>
        <p>This website is next-generation of requestb.in which has been stopped on 2016. In this version, we have combined DNSBin and RequestBin into a single function. A subdomain is provided to you that will collect requests made to it and let you inspect them in a human-friendly way in both of DNS and HTTP protocol.</p>
        <p>Our source code is open on Github: <a href="https://github.com/requestbin/">https://github.com/requestbin/</a></p>
        <h2>References</h2>
        <ul>
          <li><a href="https://github.com/Runscope/requestbin">https://github.com/Runscope/requestbin</a></li>
          <li><a href="https://github.com/HoLyVieR/dnsbin">https://github.com/HoLyVieR/dnsbin</a></li>
        </ul>
        <h2>Contact</h2>
        <p><i class="fab fa-facebook-square pr-2"></i> <a href="https://www.facebook.com/requestbin/">https://www.facebook.com/requestbin/</a></p>
        <p><i class="fab fa-twitter-square pr-2"></i> <a href="https://twitter.com/RequestbinNet">https://twitter.com/RequestbinNet</a></p>
        <p><i class="fas fa-envelope-square pr-2"></i> <a href="mailto:requestbin.net@gmail.com">requestbin.net@gmail.com</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
