{% extends "layouts/base.html" %}

{% block title %} What is my ip? {% endblock %} 

{% block content %}
<div class="p-4">
  <div class="bodybg rounded border-2 border-grey shadow container p-5">
    <div class="card">
      <div class="card-body card-one-page">
        <h3 class="text-center">What is my ip?</h3>
        <h3 class="text-center">
          <pre>{{remote_ip}}</pre>
        </h3>
        <hr>

        <h3>How to get my ip as plain text?</h3>

        <h5>URL</h5>
        <pre>{{base_url}}/ip</pre>

        <h5>cURL</h5>
        <pre>curl -X POST -d "fizz=buzz" {{base_url}}/ip</pre>

        <h5>PowerShell</h5>
        <pre>powershell -NoLogo -Command "(New-Object System.Net.WebClient).DownloadFile('{{base_url}}/ip', 'C:\Windows\Temp\ip.txt')"</pre>

        <h5>Python (with Requests)</h5>
        <pre class="prettyprint">import requests, time
        r = requests.post('{{base_url}}/ip', data={"ts":time.time()})
        print r.status_code
        print r.content</pre>

        <h5>Node.js (with request)</h5>
        <pre class="prettyprint">var request = require('request');
        var url ='{{base_url}}/ip'
        request(url, function (error, response, body) {
        if (!error) {
        console.log(body);
        }
        });</pre>

        <h5>Ruby</h5>
        <pre class="prettyprint">require 'open-uri'
        result = open('{{base_url}}/ip')
        result.lines { |f| f.each_line {|line| p line} }</pre>

        <h5>C# / .NET</h5>
        <pre class="prettyprint">using System;
        using System.Net.Http;
        using System.Threading.Tasks;

        namespace RequestBinExample
        {
        class Program
        {
        static void Main(string[] args)
        {
        MakeRequest();
        }

        private static async Task MakeRequest()
        {
        var httpClient = new HttpClient();
        var response = await httpClient.GetAsync(new Uri("{{base_url}}/ip"));
        var body = await response.Content.ReadAsStringAsync();
        Console.WriteLine(body);
        }
        }
        }</pre>

        <h5>Java</h5>
        <pre class="prettyprint">import org.apache.commons.httpclient.*;
        import org.apache.commons.httpclient.methods.*;
        import org.apache.commons.httpclient.params.HttpMethodParams;

        import java.io.*;

        public class RequestBinTutorial {
        public static void main(String[] args) {
        HttpClient client = new HttpClient();
        GetMethod method = new GetMethod("{{base_url}}/ip");
        try {
        int statusCode = client.executeMethod(method);
        byte[] responseBody = method.getResponseBody();
        System.out.println(new String(responseBody));
        } catch (Exception e) {
        System.err.println("Fatal error: " + e.getMessage());
        e.printStackTrace();
        } finally {
        method.releaseConnection();
        }
        }
        }</pre>

        <h5>PHP</h5>
        <pre class="prettyprint">&lt;?php
        $result = file_get_contents('{{base_url}}/ip');
        echo $result;
        ?&gt;</pre>
      </div>
    </div>
  </div>
</div>

{% endblock %}
